@font-face {

  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #000000;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Hind Siliguri"),
    /* Если не получилось, загрузит woff2 */
    url("/fonts/HindSiliguri-Regular.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("/fonts/HindSiliguri-Regular.woff") format("woff"),
    url("/fonts/HindSiliguri-Regular.ttf") format("woff"),
    url("/fonts/HindSiliguri-Regular.eot") format("eot");
}

/* Теперь можно использовать шрифт */
.sale {
  font-family: "Hind Siliguri", "Arial", sans-serif;
}

@font-face {

  font-family: 'Raleway';
  font-style: normal;
  color: #000000;

  src: local("Raleway"),

    url("/fonts/Raleway-Regular.woff2") format("woff2"),
    url("/fonts/Raleway-Regular.woff") format("woff"),
    url("/fonts/Raleway-Regular.ttf") format("woff"),
    url("/fonts/Raleway-Regular.eot") format("eot");
}

/* Теперь можно использовать шрифт */
.header__main__text {
  font-family: "Raleway", "Arial", sans-serif;
}



@font-face {


  font-family: 'Open Sans';
  font-style: normal;

  src: local("Open Sans"),
    /* Если не получилось, загрузит woff2 */
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff") format("woff"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("woff"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.eot") format("eot");
}

/* Теперь можно использовать шрифт */
.header__tab1__text,
.header__tab2__text,
.header__tab3__text {
  font-family: "Open Sans", "Arial", sans-serif;
}