body {
    box-sizing: border-box;
    margin: 30px;

}


.tab1 {

    width: 555px;
    height: 296px;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

.tab2 {

    width: 30px;
    height: 296px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.tab3 {

    width: 555px;
    height: 296px;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sale {
    padding-left: 35px;
    color: #F4F9FC;

    margin-top: -157px;


}

.sale2 {
    padding-left: 35px;
    color: #F4F9FC;
    font-size: 31px;
    font-weight: 600;
    height: 90px;
    width: 280px;
  
}

.sale3 {
    padding-left: 35px;
    color: #F4F9FC;
    font-size: 14px;
    font-weight: 500;

    

}

img {
width: 275px;
height: 231px;
left: 572.47px;
top: 1473px;
padding-left: 300px;
margin-top: -100px;

transform: rotate(10.01deg);
}
